[Desktop Entry]
Version=1.0
Name=ghostty 1.1.3
Exec=ghostty
Icon=org.xfce.terminal
Terminal=false
Type=Application
Categories=GTK;System;TerminalEmulator;
StartupNotify=true
Actions=preferences;

